// bower:scss
// endbower
$grey: #f1eceb;
$red: #f00;
$black: #1b1e25;
$yellow: #ffe200;
@font-face {
    font-family: 'GibsonRegular';
    src: url('../fonts/gibson-regular-webfont.eot');
    src: url('../fonts/gibson-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gibson-regular-webfont.woff') format('woff'), url('../fonts/gibson-regular-webfont.ttf') format('truetype'), url('../fonts/gibson-regular-webfont.svg#GibsonRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GibsonSemiBold';
    src: url('../fonts/gibson-semibold-webfont.eot');
    src: url('../fonts/gibson-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gibson-semibold-webfont.woff') format('woff'), url('../fonts/gibson-semibold-webfont.ttf') format('truetype'), url('../fonts/gibson-semibold-webfont.svg#GibsonSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin absoluteCentering {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: $black;
}

.row {
    display: flex;
}

.col {
    flex: 1;
}

.page {
    height: 100%;
}

.white {
    position: relative;
    background-color: $grey;
    height: 100%;
    .title-background {
        width: 220px;
        height: 130px;
        position: absolute;
        left: 120px;
        top: 200px;
        background-color: $yellow;
    }
    .title {
        display: inline-block;
        position: relative;
        left: -55px;
        h1 {
            -webkit-margin-before: 0;
            font-family: 'GibsonSemiBold', sans-serif;
            font-size: 3.5em;
        }
    }
    .tagline {
        display: inline-block;
        position: relative;
        top: 370px;
        left: 60px;
        width: 350px;
        span {
            font-family: 'GibsonSemiBold', sans-serif;
            font-size: 2.5em;
        }
    }
    .links {
        position: absolute;
        bottom: 7%;
        display: flex;
        width: 75%;
        margin-left: 50px;
        a {
            text-decoration: none;
            color: $black;
            font-family: 'GibsonSemiBold', sans-serif;
            font-size: 1em;
        }
        .link {
            flex: 1;
            margin: 15px;
            padding-bottom: 10px;
            padding-right: 20px;
            border-bottom: 4px solid $black;
            &:hover {
                color: $red;
                border-color: $red;
            }
        }
    }
}

.red {
    position: relative;
    left: 0;
    background-color: $red;
    height: 100%;
}

// .highlight {
//   font-size: 1.5em;
//   background: $yellow;
//   margin: 0;
//   padding: 2px;
//   line-height: 1.5;
//   box-shadow: -.166666667em 0 0 0 $yellow, .166666667em 0 0 0 $yellow;
// }
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@keyframes translate {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes rotateBack {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes translateBack {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

#container-gears,
#container-bolt {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    display: block;
}


#container-gears *,
#container-bolt * {
    position: absolute;
    box-sizing: content-box;
}

#circle {
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    left: 50px;
    top: 50px;
    border: 3px solid $black;
    box-shadow: 0 7px 7px rgba(0, 0, 0, .3);
    .text {
        font-family: 'GibsonSemiBold', sans-serif;
        font-size: 10em;
        text-align: center;
        height: 180px;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10;
    }
}

#bolt-01 {
    width: 0;
    height: 0;
    border-bottom: 140px solid $yellow;
    border-left: 50px solid transparent;
    transform: rotate(0deg) skew(-5deg, -10deg);
    -ms-transform: rotate(0deg) skew(-5deg, -10deg);
    -webkit-transform: rotate(0deg) skew(-5deg, -10deg);
    top: 90px;
    left: 150px;
}

#bolt-02 {
    width: 0;
    height: 0;
    border-bottom: 140px solid $yellow;
    border-left: 50px solid transparent;
    transform: rotate(180deg) skew(-5deg, -10deg);
    -ms-transform: rotate(180deg) skew(-5deg, -10deg);
    -webkit-transform: rotate(180deg) skew(-5deg, -10deg);
    top: 170px;
    left: 190px;
}

.gears {
    border-bottom: 80px solid #fff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 60px;
}

#gear01 {
    top: 0px;
    left: 150px;
}

#gear02 {
    bottom: 0px;
    left: 150px;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#gear03 {
    bottom: 165px;
    left: -10px;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#gear04 {
    bottom: 165px;
    right: -10px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

#gear05 {
    top: 45px;
    left: 260px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#gear06 {
    bottom: 50px;
    left: 260px;
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

#gear07 {
    top: 45px;
    right: 260px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#gear08 {
    bottom: 50px;
    right: 260px;
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
